@font-face {
    font-family: "Gotham";
    src: url("../fonts/Metropolis-Black.otf");
}

@font-face {
    font-family: "Medium";
    src: url("../fonts/Metropolis-Medium.otf");
}


    .input-group img {
        position: absolute;
        padding: 8px;
        pointer-events: none;
        z-index: 999;
    }
    .search {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border-radius: 24px !important;
        opacity: 0.91;
        padding-left: 40px !important;
        width: 303px !important;
        height: 37px !important;
    }
    


.navbar-nav li {
    padding: 0 2%;
    
}
.navbar-nav li:not(:first-child) {
    border-left: 1px #ddd solid;
}

.header {
    background: #FC6320;
    height: 104px;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}




.menu {
    width: 100%;
}

.menu a {
    text-align: left;
    font-family: Medium;
    letter-spacing: 0px;
    color: #FF6510 !important;
    opacity: 1;
}

.menu .active a {
    text-align: left;
    letter-spacing: 0px;
    font-family: "Gotham";
    color: #005699 !important;
    opacity: 1;
}

.carousel-item img {
    width: 960px;
    
}


.carousel-indicators {
    margin-right: 2%;
    left: auto;
}

.carousel-indicators li {
    width: 14px;
    height: 14px;
    background: transparent url('../images/Elipse 5.svg') 0% 0% no-repeat padding-box;
}

.carousel-indicators .active {
    background: transparent url('../images/Elipse 4.svg') 0% 0% no-repeat padding-box;
}

.carousel-control-next,
.carousel-control-prev {
    width: 10%;
}

.carousel {
    position: absolute;
    top: 15px;
    left: -115px;
    width: 960px;
}

.user {
    margin: 0 20px;
    width: 137px;
}

.line-0 {
    line-height: 0.8;
    font-size: 25px;
}

.shadow {
    margin-top: 6%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029 !important;
    border-radius: 16px !important;
    opacity: 1;
    font-family: "Medium";

}

.shadow .content {
    padding: 0 6%;
}

.carp {
    background: #FC6320 0% 0% no-repeat padding-box;
    border-radius: 12px 0px 0px 0px;
    opacity: 1;
    padding: 4%;
}
.carp img{
    width: 100%;
}
.cabecera h5{
    margin: 0 0 0 4%;
    color: #fff;
}
.info {
    padding: 4.2% 0%;
    border-bottom: 1px #ddd solid;

}

.info_icon {
    float: left;
    margin-right: 5%;
}

.info .subase {
    position: absolute;
    left: 9px;
    top: 10px;
}

.info .subase2 {
    position: absolute;
    left: 40px;
    top: 50.5%;
}

.info .subase3 {
    position: absolute;
    left: 38px;
    top: 62.8%;
}

.info span {
    text-align: left;
    letter-spacing: 0px;
    color: #95969B;
    opacity: 1;
}

.info div {
    display: flex;
    align-items: center;
    position: relative;
}

.person {
    text-align: left;
    letter-spacing: NaNpx;
    color: #FC6320;
    opacity: 1;
    line-height: 0.9;
    margin: 0;
}

.info .year {
    text-align: left;
    letter-spacing: 0.14px;
    color: #005699;
    opacity: 1;
}

.fz-18 {
    font-size: 18px;
}

.scroll {
    overflow-y: scroll;
    max-height: 280px;
}

.scroll::-webkit-scrollbar {
    width: 7px;
}

.scroll::-webkit-scrollbar-thumb {
    background: #005699 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
}

.scroll .info {
    border-bottom: 0;
}
.content-slider{
height: 570px;
}
.cuadros .item1{
    width: 20%;
    background: transparent url('../images/Grupo 1528.svg') 0% 0% no-repeat padding-box;
}
.cuadros  .item1 p{
    left: 55px;
}
.cuadros div{
    float: left;
    width: 20%;
    height: 184px;
    color: #fff;
    position: relative;
}
.cuadros p{
    line-height: 1;
    bottom: 0;
    position: absolute;
    left: 18px;
}

.cuadros .item2{
    background: transparent url('../images/Grupo 1530.svg') 0% 0% no-repeat padding-box;
}
.cuadros .item3{
    background: transparent url('../images/Grupo 1531.svg') 0% 0% no-repeat padding-box;
}
.cuadros .item4{
    background: #FC6320 0% 0% no-repeat padding-box;
    opacity: 1;
}
.cuadros .item5{
    background: transparent url('../images/Grupo 1533.svg') 0% 0% no-repeat padding-box;
}
.icon-4{
    font-size: 12px;
}
.empresa h2{
    text-align: center;
    font-family: Gotham ;
    letter-spacing: 0px;
    color: #005699;
    opacity: 1;
    margin-bottom: 3%;
}
.empresa p{
    text-align: center;
    font-family: "Medium";
    letter-spacing: 0px;
    color: #6A6A6A;
    opacity: 1;
}
.empresa{
    padding: 5% 15%;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 2px;
    grid-auto-flow: row dense;
}
.gallery .item:nth-child(1){
    grid-row: span 2;
    width: 260px;
    height: 264px;
    background-size: 100%;
    position: relative;
}
.gallery .item1 img{
    width: 260px;
    height: 264px;
}

.gallery .item:nth-child(2) img{
    height: 132px;
    width: 100%;
}
.gallery .item:nth-child(3){
    grid-row: span 2;
}
.gallery .item:nth-child(3) img{
    width: 260px;
    height: 264px;
}

.gallery .item:nth-child(4) img{
    height: 132px;
}
.gallery .item:nth-child(5) img{
    height: 130px;
    width: 100%
}
.gallery .item:nth-child(6) img{
    height: 130px;
    width: 100%;
}
.gallery .item div{
    line-height: 1;
    bottom: 20px;
    position: absolute;
    right: 28px;
  
}
.gallery .item div a, .gallery .item div p{
    font-weight: 400;
    color: #fff;
}
.gallery .item div a{
    text-decoration: underline;

}
.contact{
    box-shadow: 0px 3px 6px #00000029 !important;
    border-radius: 16px !important;
}
.contact .cabec{
    display: flex;
    align-items: center;
}
.contact .cabec h3{
    text-align: left;
    letter-spacing: 0.31px;
    color: #005699;
    opacity: 1;
    font-weight: 400;
}
.contact .content{
    padding: 5% 10%;
}
.contact .content .sede{
    text-align: left;
    letter-spacing: 0px;
    color: #F15A24;
}
.contact .content .gris{
    text-align: left;
    letter-spacing: 0px;
    color: #808080;
}
.mapa img{
    width: 100%;
    height: 100%;
    position: relative;
}
.mapa i{
    color: #FC6320;
    opacity: 1;
    z-index: 9;
    position: absolute
}
.mapa i:nth-child(1){
    top: 21%;
    left: 14.5%;
}
.mapa i:nth-child(2){
    top: 35%;
    right: 37.5%;
}
.shadow .cabecera{
    display: flex;
    align-items: center;
    border-radius: 12px 12px 0px 0px;
    background: #005699 0% 0% no-repeat padding-box;
}

.user:hover {
    text-decoration: none;
}

.numero {
    width: 82px;
    height: 50px;
    text-align: left;
    letter-spacing: 0px;
    color: #FF6510;
}

.visitas {
    text-align: left;
    letter-spacing: 0px;
    color: #007AD2;
    width: 82px;
    height: 28px;
}
.mr-md-3, .mx-md-3 {
    margin-right: 4.5rem!important;
}

@media (max-width: 1200px) {
    .mr-md-3,
    .mx-md-3 {
        margin-right: 1rem!important;
    }
    .direct .cabecera h5{
        font-size: 15px;
    }
    .direct .carp img {
        width: 80%;
    }
   
   
    .direct .info span, .info .year,.person{
        font-size: 13px;
    }
}
@media (max-width: 992px) {
    .cuadros div,.cuadros .item1{
        width: 50%;
    }
    .responsive-none{
        display: none;
    }

    .header {
        height: auto;
    }

    .user {
        margin: 0;
        width: auto;
    }

    .line-0 {
        font-size: inherit;
    }

    .navbar {
        padding: .2rem 0rem;
    }

    .carousel-indicators {
        margin-right: 8%;
        margin-bottom: 0;
    }

    .carousel {
        position: relative;
        top: 0px;
        left: 0px;
        width: 100%;
    }


    .carousel-control-next,
    .carousel-control-prev {
        width: 15%;
    }
    .gallery{
        grid-template-columns: repeat(1,1fr);
    }
    .gallery img{
        width: 100% !important;
        height: auto !important;
    }
    .gallery .item:nth-child(1){
        width: 100%;
        height: 360px;
    }
    .gallery .item:nth-child(1),.gallery .item:nth-child(3),.gallery .item:nth-child(4),.gallery .item:nth-child(6){
        grid-column: span 2;
    }
    /* .gallery .item:nth-child(5) img,.gallery .item:nth-child(2) img{
        height: 156px !important;
    } */
    .content-slider{
        height: auto;
    }
    
}


@media (max-width: 1024px) {
 
    .navbar-light .navbar-nav .nav-link{
        padding: 0;
    }
    .carousel-item img,.carousel{
        width: 820px;
    }
    .content-slider{
        height: 500px;
    }
    .gallery {
        grid-template-columns: repeat(4,1fr);
    }
    .gallery .item img {
        width: 100%;
    }
    .gallery .item:nth-child(4),.gallery .item:nth-child(6),.gallery .item:nth-child(3){
        grid-column: span 2;
    }
}
@media (max-width: 768px) {
    .carousel-item img,.carousel{
        width: 510px;
    }
    .content-slider{
        height: 290px;
    }
    .cuadros div, .cuadros .item1 {
        width: 33.33%;
    }
    .gallery {
        grid-template-columns: repeat(5,1fr);
    }
    .direct .info span, .info .year, .person {
        font-size: 10px;
    }

    .empresa {
        padding: 5% 8%;
    }
    .gallery .item div{
        bottom: 100px;
    }
    .gallery .item:nth-child(5) img, .gallery .item:nth-child(2) img{
        width: 100% !important;
    height:  100% !important;
    }
    .gallery img{
        width: 100% !important;
        height: 100%!important;
    }
    .gallery .item:nth-child(1){
        height: 100%;
    }
    .gallery .item:nth-child(6){
        grid-column: span 3;
    }
    .contact .content{
        font-size: 12px;
    }
    .contact .cabec h3{
        font-size: 18px;
        margin-top: 5%;
    }
    .contact .info_icon img{
        width: 50%;
        height: auto;
    }
    .scroll .info_icon img, .cumple img{
        width: 40px;
        height: 100%;
    }
    .direct .info img{
        width: 30px;
    }
    .direct .info .subase{
        width: 13px;
    }
    .carp{
        width: 20%;
    }
}
@media (max-width: 425px) {
    .navbar a{
    
        padding: 0.5% !important;
    }
    .gallery .item:nth-child(1) {
        width: 100%;
        height: 100%;
    }
    .user{
        width: 30%;
    }
    .direct .info span,.direct .info span, .info .year, .person{
        font-size: 1rem;
    }
    .cuadros  p{
        font-size: 15px;
    }
    .carousel-item img, .carousel {
        width: 395px;
    }  
    .content-slider {
        height: 230px;
    }
    .direct .info span{
        margin-right: 5%;
    }  
    .gallery .item div {
        bottom: 10px;
    }
    .gallery .item div h4,.gallery .item div h5 {
      font-size: 12px;
      text-align: right;
    
    }
}
@media (max-width: 375px) {
    .carousel-item img, .carousel {
        width: 345px;
    }
    .cuadros div, .cuadros .item1 {
        width: 50%;
    }
    .carp {
        width: 20%;
    }
}
@media (max-width: 320px) {
    .carousel-item img, .carousel {
        width: 290px;
    }
    .content-slider {
        height: 180px;
    }
    .gallery .item div {
        bottom: 10px;
        right: 8px;
    }
}