<template>
    <div>
        <button class="btn btn-success mb" @click="openModalCreate">Nuevo</button>
        <table class="table table-striped">
            <thead>
                <tr class="text-center">
                    <th scope="col">#</th>
                    <th scope="col">Nombres</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, index) in items" :key="index">
                    <th scope="row">{{index+1}}</th>
                    <td>{{item.nombres}}</td>
                    <td>{{item.apellidos}}</td>
                    <td class="text-center">
                        <button class="btn btn-warning" @click="openModalEdit(item)">Editar</button>
                        <button class="btn btn-danger" @click="clickDelete(item)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <modal-component :item="item" :estadoEdit="estadoEdit" @updateTable="getComisario"></modal-component>
    </div>
</template>
<script>
import ModalComponent from './ModalComponent';
    export default {
        components:{'modal-component':ModalComponent},
        data() {
            return {
                items: [],
                item:{
                    nombres:'',
                    apellidos:''
                },
                estadoEdit: false
            }
        },
        mounted() {
            this.getComisario();
        },
        methods: {
            getComisario() {
                let config = this.headerToken();
                axios.post('/api/comisario/get', this.form, config).
                then((response) => {
                    this.items = response.data;
                }).catch(error => {
                    this.messageError(error.response.data.message);
                });
            },
            openModalCreate(){
                this.item={
                    nombres:'', apellidos:''
                };
                this.estadoEdit = false;
                $('#modal_comisario').modal('show')
            },
            openModalEdit(item){
                this.item.id = item.id;
                this.item.nombres = item.nombres;
                this.item.apellidos = item.apellidos;
                this.estadoEdit = true;
                $('#modal_comisario').modal('show')
            },
            clickDelete(item){
                var instance = this;
                let config = this.headerToken();
				this.messageConfirmation(function() {
					axios.delete('/api/comisario/delete/'+item.id, config).then((response) => {
						instance.messageSuccess(response.data.message);
						instance.getComisario();
					}).catch(error => {
						instance.messageError(error.response.data.message);
					});
                });
                
            }
        }
    }

</script>
<style scoped>
.mb{
    margin-bottom: 2%;
}
</style>