<template>
    <div v-if="errors.length">
        <ul class="alert alert-danger">
            <li v-for="(value, key, index) in errors" :key="index">{{ value }}</li>
        </ul>
    </div>
</template>
<script>
export default {
    props:['errors'],
    
}
</script>