<template>
    <div class="card-body">
        <form v-on:submit.prevent="clickLogin()">

            <div class="form-group row">
                <label class="col-md-4 col-form-label text-md-right">Email</label>

                <div class="col-md-6">
                    <input type="email" class="form-control" name="email" v-model="form.email" required>

                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-4 col-form-label text-md-right">Password</label>

                <div class="col-md-6">
                    <input type="password" class="form-control" name="password" v-model="form.password" required>


                </div>
            </div>

            <div class="form-group row mb-0">
                <div class="col-md-8 offset-md-4">
                    <button type="submit" class="btn btn-primary">
                        Login
                    </button>
                </div>
            </div>
        </form> 
    </div>
</template>
<script>
export default {
    data(){
        return{
            form:{
                email:'erick@gmail.com',
                password:'123456789',
            }
        }
    },
    methods:{
        clickLogin(){
             axios.post('api/auth/login', this.form)
                .then((response) => {
                    console.log(response.data);
                   localStorage.token = response.data.access_token;
                //    window.location.href = "/home"
                }).catch(error => {
                    // this.messageError(error.response.data.message);
            });
            
        }
    }
}
//  return axios.post(url, creds, {
//             headers: {
//                 Authorization: getToken()
//             }
//         }
//     );
</script>
