<template>
    <div class="modal fade" id="modal_equipamiento" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" v-if="!estadoEdit">Registrar Equipamiento</h5>
                    <h5 class="modal-title" v-else>Editar Equipamiento</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <error-template :errors="errors"></error-template>
                    <form v-on:submit.prevent="onClickForm">
                        <div class="form-group">
                            <label class="col-form-label">Nombre:</label>
                            <input type="text" class="form-control" v-model="item.nombre" required>
                        </div>
                        <hr>
                        <div class="form-group">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="resetForm">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import ErrorsComponent from './../ErrorsComponent'
    export default {
        props: ['estadoEdit', 'item'],
        components:{'error-template':ErrorsComponent},
        data() {
            return {
                errors:[],
            }
        },
        methods: {
            onClickForm() {
                if (!this.estadoEdit) {
                    this.storeEquipamiento();
                } else {
                    this.updateEquipamiento();
                }

            },
            storeEquipamiento() {
                this.loading();
                let config = this.headerToken();
                axios.post('/api/equipamiento/store', this.item,config)
                    .then((response) => {
                        this.$emit('updateTable');
                        $('#modal_equipamiento').modal('hide');
                        this.closeLoading();
                        this.messageSuccess(response.data.message);
                        this.resetForm();
                    }).catch(error => {
                        this.resetForm();
                        this.closeLoading();
                        if (error.response.status == 422){
                                 this.errors = Object.values(error.response.data.errors).flat();
                        }else{
                             this.messageError(error.response.data.message);
                        }
                    });
            },
            updateEquipamiento() {
                this.loading();
                let config = this.headerToken();
                axios.put('/api/equipamiento/update/'+this.item.id, this.item,config)
                    .then((response) => {
                        this.$emit('updateTable');
                        $('#modal_equipamiento').modal('hide');
                        this.closeLoading();
                        this.messageSuccess(response.data.message);
                        this.resetForm();
                    }).catch(error => {
                        this.resetForm();
                        this.closeLoading();
                        if (error.response.status == 422){
                                 this.errors = Object.values(error.response.data.errors).flat();
                        }else{
                             this.messageError(error.response.data.message);
                        }
                    });
            },
             resetForm(){
                this.errors=[];
            }
        }
    }
</script>